myenv/
data/
.DS_Store
images/
processed/
10-tuning-furtherExplore.ipynb
best_efficientnet_model.h5
best_efficientnet_model.keras
label_encoder.pkl
birdclef_env/
random_forest_model.pkl
submission.csv
birdclef25-rf0v2-leaderboard.png
label_encoder_v2.pkl
random_forest_model_v2.pkl
